<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="keywords" content="WebAPI管理,后台管理系统">
    <meta name="description" content="WebAPI管理系统时专门用于WebAPI练习用的Demo。">
    <title>WebAPI后台管理系统</title>
</head>
<body class="layui-layout-body">
    @RenderBody()
</body>
</html>
