<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--当前数据库类型-->
  <add key="DataBaseType" value="MySql" />
  <!--页面列表每次请求加载条数一-->
  <add key="pageSize" value="10" />
  <!--页面列表每页显示条数一-->
  <add key="pageRollSize" value="20" />
  <!--是否保存登录记录-->
  <add key="IsLogOnRecord" value="1" />
  <!--系统标识-->
  <add key="SystemSign" value="TSJL.Train.Web"/>
  <!--权限提供者-->
  <add key="PermissionProvider" value="TSJL.Train.Services,TSJL.Train.Services.PermissionProvider"/>
</appSettings>